/*This is the base stylesheet used for every page*/
body {
    background-color: #C2F0BD;
    width: 90vw;
    margin: 0;
    
}

#navigation {
    background-color: #FBD8A2;
    display: inline-block;
    width: 100vw;
    height: 10vw;
    margin: 0;
}
#navigation ul li a {
    text-decoration: none;
}

/* Styles for mobile devices (viewport width < 600px) */
/*@media (max-width: 600px) {


}
*/