/*This is the base stylesheet used for every page*/
body {
    background-image: url('../assets/CRT_Bezel.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: auto;
    background-color: darkslategray;
}

/* Styles for mobile devices (viewport width < 600px) */
/*@media (max-width: 600px) {


}
*/