/*This is the base stylesheet used for every page*/

:root {
    --Vodka: #C2B7E9;
    --Powder-Blue: #ADDEDF;
    --Tea-Green: #C2F0BD;
    --Very-Pale-Yellow: #FFFDB4;
    --Deep-Champagne: #FBD8A2;
    --Spanish-Pink: #EEBAB9;
}

@font-face {
    font-family: Aero;
    src: url(../assets/fonts/Aero.ttf) format(truetype);
}

body {
    background-color: var(--Powder-Blue);
    width: 90vw;
    margin: 0;
    
}
/*#CFE7E8*/
#navigation {
    background-color: orange;
    width: 100vw;
    height: 10vw;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: Aero;
    position: fixed;
}
nav ul {
    list-style: none;  
    display: flex;
    gap: 20px;
    
    
}
nav a {
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    background-color: var(--Deep-Champagne);
    border-radius: 5px;
    color: black;
    font-size: 32pt;
}


/* Styles for mobile devices (viewport width < 600px) */
/*@media (max-width: 600px) {


}
*/